

.data-table-loading-container{
    position: absolute;
    background-color:#D3D2CF;
    opacity:0.5;
    margin:0 auto;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
  }
  
  .spinner > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
  }
  
  .spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
  }
  
  .spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  .spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
  }
  
  .spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
  }
  
  @-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
  }
  
  @keyframes sk-stretchdelay {
    0%, 40%, 100% { 
      transform: scaleY(0.4);
      -webkit-transform: scaleY(0.4);
    }  20% { 
      transform: scaleY(1.0);
      -webkit-transform: scaleY(1.0);
    }
  }


.data-table-component{
    display:table;
   min-width:100%;
}

.data-table-component th{
    cursor:pointer;
}

.data-table-component tbody td,.data-table-component thead th{
    height:44px;
    line-height:44px;
}

.data-table-component tbody tr:nth-child(2n),.data-table-component tbody tr:hover {
    background-color:#f3f1f0;
}

.data-table-component tbody tr.selected {
    background-color:#C9C690 !important;
}

.--order-ascending {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.--order-descending {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



.page-size-container{
    float:right;
    display:inline-block;
}


.page-size-container ul{
    padding:0;
    margin:0;
    list-style-type:none;
}

.page-size-container li{
    display:inline-block;

    border:1px solid #D3D0CF;
    padding:4px;
    border-radius:2px;
    cursor:pointer;
}

.page-size-container li:hover{
    background-color:#BB820C;
}

.page-size--active{
    background-color:#BB2E0C;
}

.pagination-container{
    float:left;
    display:inline-block;
}

.pagination-container ul{
    padding:0;
    margin:0;
    list-style-type:none;
}

.pagination-container li{
    display:inline-block;

    border:1px solid #D3D0CF;
    padding:8px;
    border-radius:4px;
    cursor:pointer;
}

.pagination-container li:hover{
    background-color:#C9C690;
}

.pagination--active{
    background-color:#B7AF00;
}



.--display-none{
    display:none;
}




@media only screen and (max-width: 720px) {


    .page-size-container{
        float:none;
        display:block;
    }
    
    .pagination-container{
        float:none;
        display:block;
    }
}