

.data-table-loading-container{
    position: absolute;
    background-color:#D3D2CF;
    opacity:0.5;
    margin:0 auto;
}


.data-table-component{
    display:table;
   min-width:100%;
}

.data-table-component th{
    cursor:pointer;
}

.data-table-component tbody td,.data-table-component thead th{
    height:44px;
    line-height:44px;
}

.data-table-component tbody tr:nth-child(2n),.data-table-component tbody tr:hover {
    background-color:#f3f1f0;
}

.data-table-component tbody tr.selected {
    background-color:#C9C690 !important;
}

.--order-ascending {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.--order-descending {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



.page-size-container{
    float:right;
}


.page-size-container ul{
    padding:0;
    margin:0;
    list-style-type:none;
}

.page-size-container li{
    display:inline-block;

    font-weight:700;
    border:1px solid #D3D0CF;
    padding:4px;
    border-radius:2px;
    cursor:pointer;
}


.page-size-container li:hover,.page-size--active{
    background-color:#0F3366;
    color:white;
}

.pagination-container{
    float:left;
    display:inline-block;
}

.pagination-container ul{
    padding:0;
    margin:0;
    list-style-type:none;
}

.pagination-container li{
    display:inline-block;

    border:1px solid #D3D0CF;
    padding:8px;
    border-radius:4px;
    cursor:pointer;
}

.pagination-container li:hover{
    background-color:#C9C690;
}

.pagination--active{
    background-color:#B7AF00;
}


.paginator-container{
    margin-top:16px;
}