<nav class="mean-navbar">
  <div class="main-menu">

    <span class="main-menu__brand">
      MEAN-CarRentalSystem
    </span>

    <a *ngFor="let menu of menus;let i = index;" class="main-menu__item" [ngClass]="{'main-menu__item--active':selectedMenu? menu.name===selectedMenu.name:false}"
      (click)="selectMenu(menu)">
      <i [ngClass]="'fa fa-2x fa-'+menu.faIconClass"></i>{{menu.name}}
    </a>

  </div>

  <div *ngIf="!!selectedMenu" class="sub-menu">

    <a *ngFor="let subMenu of selectedMenu.subMenus;let i = index;" class="sub-menu__item" [routerLink]="[subMenu.target]" (click)="submenuClick()">
      {{subMenu.name}}
    </a>


  </div>
</nav>

<div class="container-fluid">
  <div class="row">

    <router-outlet>

    </router-outlet>

  </div>